@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="flex h-screen bg-gray-200 items-center justify-center">
    <div class="grid bg-white rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/2">
        <div class="py-4"/>

        <div class="flex justify-center">
            <div class="flex">
                <h1 class="text-gray-600 font-bold md:text-2xl text-xl">@ViewData["Title"]</h1>
            </div>
        </div>

        <div class="mt-5 mx-7">
            <p class="md:text-sm text-xs text-gray-500 font-semibold">Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
</div>